
body{
	padding-top: 70px;
	background-color: #111111;
}

.bottomNav, .jobHeading{
	text-align: center;
}

.jobRow{
	padding-bottom: 10px;
	position: relative;
	margin-top: 0.5%;
}

.iconCol{
	background-color: white;
	position: absolute;
	text-align: center;
	 vertical-align: baseline;
}

.descCol{
	background-color: #ffafaf;
}

#jobName{
	width: 60%;
}

.fa-battery-3:before, .fa-battery-three-quarters:before{
	 font-size: 3em;
	 width: 3em;
	 height: 3em;
}

.userIcon{
	height: 50px;
	width: 50px;
	background-image: url(http://source.unsplash.com/QwptYsWXJqo);
	background-size: 50px;
}
.jobDesc1{
	padding-top: 10px;
	text-align: center;
}

.input-group{
	margin-bottom: 10px;
}

.loginContainer{
	width: 350px;
	margin:auto;
	text-align: center;
	background-color: white;
	padding: 20px;
	border-radius: 10%;
	padding-bottom: 50px;
}

.forgotPw{
	text-decoration: underline;
}

.register{
	margin: auto;
	width: 50%;
}

.userImg{
	width: 80%;
	height: 80%;
}

.chck{
	padding: 10px;
	margin: 10px;
}

.kvadrat{
	width: 50%;
	height: 40px;
	background-color: blue;
}

.active{
	border-bottom: 4px solid grey;
	color: grey;
	transition: border, 0.2s;
}

#red:hover{
	border-bottom: 4px solid red;
	color: red;
	transition: border, 0.2s;
}

#orange:hover{
	border-bottom: 4px solid orange;
	color: orange;
	transition: border, 0.2s;
}

#blue:hover{
	border-bottom: 4px solid blue;
	color: blue;
	transition: border, 0.2s;
}

#yellow:hover{
	border-bottom: 4px solid yellow;
	color: yellow;
	transition: border, 0.2s;
}

#green:hover, #green:focus{
	border-bottom: 4px solid green;
	color: green;
	transition: border, 0.2s;
}

#purple{
	border-left: 3px solid purple;
	color: purple;
	transition: border, 0.2s;
}

#purple:hover{
	border-left: 10px solid purple;
	color: purple;
	transition: border, 0.2s;
}

#black{
	border-left: 3px solid black;
	color: black;
	transition: border, 0.2s;
}

#black:hover{
	border-left: 10px solid black;
	color: black;
	transition: border, 0.2s;
}

#employerSearchBar, #citySearchBar{
	display: none;
}

#inp{
	width: 80%;
}